<div
  *ngIf="productDetails$ | async as productDetails"
  class="container mx-auto px-4 py-6 bg-white rounded-lg"
>
  <button
    class="close-button material-symbols-outlined cursor-default justify-end px-1"
    (click)="goBack()"
  >
    arrow_back
  </button>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    <div class="flex justify-center items-center">
      <img
        [src]="productDetails.product.image"
        [alt]="productDetails.product.title"
        class="w-full max-w-lg object-cover"
      />
    </div>
    <div class="flex flex-col">
      <h3 class="font-bold mb-2 text-gray-900 pt-4 cursor-default">
        {{ productDetails.product.title }}
      </h3>

      <p class="text-xl font-semibold text-black mb-4 mt-10 pt-10">
        {{ productDetails.product.price }} kr
      </p>
      <p class="text-gray-700 leading-relaxed mb-6 cursor-default">
        {{ productDetails.product.description }}
      </p>

      <div class="flex flex-col gap-2 mb-6">
        <div class="text-gray-500 text-sm cursor-default">
          <p><strong>Kategori:</strong> {{ productDetails.product.category }}</p>
        </div>
        <div class="flex items-center gap-2">
          <div class="flex">
            @for (star of productDetails.stars; track $index) {
              @if (star === 1) {
                <span class="text-yellow-400">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.75.75 0 0 1-1.088.791L10 13.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.192-3.046-2.97a.75.75 0 0 1 .416-1.28l4.21-.611 1.882-3.815A.75.75 0 0 1 10 1z"
                    ></path>
                  </svg>
                </span>
              }
              @if (star === 0.5) {
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20">
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      [class.text-gray-200]="true"
                      style="fill: currentColor"
                    />
                    <mask id="half-star-mask">
                      <rect x="0" y="0" width="10" height="20" fill="white" />
                    </mask>
                    <path
                      d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                      [class.text-yellow-400]="true"
                      style="fill: currentColor"
                      mask="url(#half-star-mask)"
                    />
                  </svg>
                </span>
              }
              @if (star === 0) {
                <span class="text-gray-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 1a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.75.75 0 0 1-1.088.791L10 13.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.192-3.046-2.97a.75.75 0 0 1 .416-1.28l4.21-.611 1.882-3.815A.75.75 0 0 1 10 1z"
                    ></path>
                  </svg>
                </span>
              }
            }
          </div>
          <div class="flex items-center gap-1">
            <span class="text-sm text-gray-500">{{ productDetails.product.rating.rate }}</span>
            <span class="text-gray-600 text-sm cursor-default"
              >({{ productDetails.product.rating.count }} recensioner)</span
            >
          </div>
        </div>
      </div>

      <div class="flex flex-row items-center justify-start space-x-4">
        <button
          (click)="addToCart(productDetails.product)"
          class="buy-button bg-black text-white py-2 px-4 rounded-lg shadow-lg transition-colors justify-center"
        >
          Köp
        </button>
        <button class="material-symbols-outlined cursor-default justify-end mt-5 px-1">
          favorite
        </button>
      </div>
    </div>
  </div>
  <app-similar-products></app-similar-products>
</div>
