<div class="cart-page bg-white rounded-lg border p-10 min-h-screen xs:p-8">
  <div class="container mx-auto max-w-5xl">
    <h1 class="items-center justify-center text-center">Tack för din beställning!</h1>
    <div>
    <p class="items-center justify-center text-center">
      Ditt ordernummer är:</p>
    <p class="items-center justify-center text-center underline">{{ orderNumber }}</p>
    </div>
    <p class="text-center">
      Vi har mottagit din beställning och kommer att skicka en orderbekräftelse till din
      e-postadress.
    </p>
  </div>
</div>
