<div class="flex-grow max-w-md mx-4 z-10">
  <mat-form-field appearance="outline" class="w-full z-10 relative">
    <mat-icon matPrefix class="material-symbols-outlined">search</mat-icon>
    <input matInput type="text" placeholder="Vad vill du handla?" [(ngModel)]="searchQuery"
          class="text-white placeholder:text-white bg-transparent" (keyup.enter)="onSearch()">
    <button mat-icon-button matSuffix (click)="onSearch()" class="material-symbols-outlined">
      chevron_right
    </button>
  </mat-form-field>
</div>
