 :host {
      display: block;
      background-color: #f9f9f9;
      border-radius: 4px;
      padding: 0.5rem;
      margin-top: 0.5rem;
    }

    img {
      object-fit: cover;
      border-radius: 4px;
    }
